<a href="https://colab.research.google.com/github/chae52/MachineLearning/blob/main/%EA%B8%B0%EA%B3%84%ED%95%99%EC%8A%B5_%EC%A4%91%EA%B0%84%EA%B3%A0%EC%82%AC_5%EB%B2%88_%EC%8B%AC%EC%9E%A5%EB%B3%91.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install kaggle
from google.colab import files
#kaggle.json 파일 업로드
files.upload()

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.10)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2020.12.5)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"chae52","key":"7da198707d3eafd371c445d1f050221a"}'}

In [2]:
#json 파일을 ~/.kaggle로 이동시키기
#mkdir=폴더 만들기
!mkdir -p ~/.kaggle
#cp=copy
!cp kaggle.json ~/.kaggle/

#Permission Warning 이 일어나지 않도록
#chmod:파일을 권한 변경
#600:read/write...
!chmod 600 ~/.kaggle/kaggle.json

In [3]:
!ls -lha kaggle.json
!kaggle -v

-rw-r--r-- 1 root root 62 Feb 26 06:25 kaggle.json
Kaggle API 1.5.4

In [4]:
!pip uninstall -y kaggle
!pip install --upgrade pip
!pip install kaggle==1.5.10

Uninstalling kaggle-1.5.10:
  Successfully uninstalled kaggle-1.5.10
Collecting pip
  Downloading https://files.pythonhosted.org/packages/fe/ef/60d7ba03b5c442309ef42e7d69959f73aacccd0d86008362a681c4698e83/pip-21.0.1-py3-none-any.whl (1.5MB)
     |████████████████████████████████| 1.5MB 3.8MB/s
Installing collected packages: pip
  Found existing installation: pip 19.3.1
    Uninstalling pip-19.3.1:
      Successfully uninstalled pip-19.3.1
Successfully installed pip-21.0.1
Collecting kaggle==1.5.10
  Downloading kaggle-1.5.10.tar.gz (59 kB)
     |████████████████████████████████| 59 kB 3.0 MB/s
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle==1.5.10) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle==1.5.10) (2020.12.5)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle==1.5.10) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle==1.5.10) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle==1.5.10) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle==1.5.10) (4.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle==1.5.10) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle==1.5.10) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle==1.5.10) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle==1.5.10) (2.10)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.10-py3-none-any.whl size=73268 sha256=2b4e9e0e907f1c7e8cf604e6c354259442e8c134b8eaace8d5c50dda7f77f0ea
  Stored in directory: /root/.cache/pip/wheels/ea/c5/fe/7e7fb5b3d1f150fac96188949b3d83d375a4c9df16ba557e52
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.5.10

In [9]:
!kaggle competitions download -c 2020ml5re

Downloading 2020ml5re.zip to /content
  0% 0.00/4.56k [00:00<?, ?B/s]
100% 4.56k/4.56k [00:00<00:00, 4.15MB/s]

In [10]:
!unzip 2020ml5re

Archive:  2020ml5re.zip
  inflating: sampleSubmission.csv
  inflating: test.csv
  inflating: train.csv

#Data Load

In [211]:
import pandas as pd
train=pd.read_csv('train.csv',index_col=0)
train.head()

       age  sex  cp  trestbps  chol  ...  oldpeak  slope  ca  thal  target
index                                ...
0       63    1   3       145   233  ...      2.3      0   0     1       1
1       37    1   2       130   250  ...      3.5      0   0     2       1
2       41    0   1       130   204  ...      1.4      2   0     2       1
3       56    1   1       120   236  ...      0.8      2   0     2       1
4       57    0   0       120   354  ...      0.6      2   0     2       1

[5 rows x 14 columns]

In [212]:
x_train=train.drop('target',axis=1)
y_train=train['target']

In [213]:
x_train.head()

       age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
index                                ...
0       63    1   3       145   233  ...      0      2.3      0   0     1
1       37    1   2       130   250  ...      0      3.5      0   0     2
2       41    0   1       130   204  ...      0      1.4      2   0     2
3       56    1   1       120   236  ...      0      0.8      2   0     2
4       57    0   0       120   354  ...      1      0.6      2   0     2

[5 rows x 13 columns]

In [214]:
y_train.head()

index
0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [215]:
test=pd.read_csv("test.csv",index_col=0)
submit=pd.read_csv("sampleSubmission.csv",index_col=0)

In [216]:
test.head()

       age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
index                                ...
5       57    1   0       140   192  ...      0      0.4      1   0     1
7       44    1   1       120   263  ...      0      0.0      2   0     3
9       57    1   2       150   168  ...      0      1.6      2   0     2
17      66    0   3       150   226  ...      0      2.6      0   0     2
24      40    1   3       140   199  ...      1      1.4      2   0     3

[5 rows x 13 columns]

In [217]:
submit.head()

       target
index
5           1
7           1
9           1
17          1
24          1

#Raw Data

##Logistic Regression

In [21]:
from sklearn.linear_model import LogisticRegression
lg=LogisticRegression(random_state=11)

In [22]:
lg.fit(x_train,y_train)
y_train_pred=lg.predict(x_train)
y_test_pred=lg.predict(test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [24]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_train,y_train_pred))

0.8636363636363636

In [32]:
submit['target']=y_test_pred
submit.to_csv("submit.csv",mode='w',index_label=None)
!kaggle competitions submit -c 2020ml5re -f submit.csv -m 'Logistic Regression'

100% 356/356 [00:06<00:00, 52.9B/s]
Successfully submitted to 2020.ML.중간고사.문제5.다시풀기

score=0.88524

##KNN

In [33]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()

In [34]:
knn.fit(x_train,y_train)
y_train_pred=knn.predict(x_train)
y_test_pred=knn.predict(test)

In [36]:
print(accuracy_score(y_train,y_train_pred))

0.7603305785123967

In [37]:
submit['target']=y_test_pred
submit.to_csv("submit.csv",mode='w',index_label=None)
!kaggle competitions submit -c 2020ml5re -f submit.csv -m 'KNN'

100% 356/356 [00:04<00:00, 84.8B/s]
Successfully submitted to 2020.ML.중간고사.문제5.다시풀기

score=0.68852

##LDA

In [38]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda=LinearDiscriminantAnalysis()

In [39]:
lda.fit(x_train,y_train)
y_train_pred=lda.predict(x_train)
y_test_pred=lda.predict(test)

In [40]:
print(accuracy_score(y_train,y_train_pred))

0.859504132231405

In [41]:
submit['target']=y_test_pred
submit.to_csv("submit.csv",mode='w',index_label=None)
!kaggle competitions submit -c 2020ml5re -f submit.csv -m 'LDA'

100% 356/356 [00:08<00:00, 41.5B/s]
Successfully submitted to 2020.ML.중간고사.문제5.다시풀기

score=0.86885

##QDA

In [42]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
qda=QuadraticDiscriminantAnalysis()

In [43]:
qda.fit(x_train,y_train)
y_train_pred=qda.predict(x_train)
y_test_pred=qda.predict(test)

In [44]:
print(accuracy_score(y_train,y_train_pred))

0.859504132231405

In [45]:
submit['target']=y_test_pred
submit.to_csv("submit.csv",mode='w',index_label=None)
!kaggle competitions submit -c 2020ml5re -f submit.csv -m 'QDA'

100% 356/356 [00:06<00:00, 57.9B/s]
Successfully submitted to 2020.ML.중간고사.문제5.다시풀기

score=0.83606

##Decision Tree

In [46]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()

In [47]:
dt.fit(x_train,y_train)
y_train_pred=dt.predict(x_train)
y_test_pred=dt.predict(test)

In [48]:
print(accuracy_score(y_train,y_train_pred))

1.0

In [49]:
submit['target']=y_test_pred
submit.to_csv("submit.csv",mode='w',index_label=None)
!kaggle competitions submit -c 2020ml5re -f submit.csv -m 'Decision Tree'

100% 356/356 [00:09<00:00, 38.1B/s]
Successfully submitted to 2020.ML.중간고사.문제5.다시풀기

score=0.85245

#Standardization:표준화

In [51]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [52]:
sc.fit(x_train)
x_train_std=sc.transform(x_train)
test_std=sc.transform(test)

##Logistic Regression

In [54]:
lg=LogisticRegression(random_state=11)

In [55]:
lg.fit(x_train_std,y_train)
y_train_pred=lg.predict(x_train_std)
y_test_pred=lg.predict(test_std)

In [56]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_train,y_train_pred))

0.8636363636363636

In [57]:
submit['target']=y_test_pred
submit.to_csv("submit.csv",mode='w',index_label=None)
!kaggle competitions submit -c 2020ml5re -f submit.csv -m 'Logistic Regression std'

100% 356/356 [00:08<00:00, 41.1B/s]
Successfully submitted to 2020.ML.중간고사.문제5.다시풀기

score=0.85245

##KNN

In [58]:
knn=KNeighborsClassifier()

In [59]:
knn.fit(x_train_std,y_train)
y_train_pred=knn.predict(x_train_std)
y_test_pred=knn.predict(test_std)

In [60]:
print(accuracy_score(y_train,y_train_pred))

0.8553719008264463

In [61]:
submit['target']=y_test_pred
submit.to_csv("submit.csv",mode='w',index_label=None)
!kaggle competitions submit -c 2020ml5re -f submit.csv -m 'KNN std'

100% 356/356 [00:08<00:00, 42.9B/s]
Successfully submitted to 2020.ML.중간고사.문제5.다시풀기

score=0.90163

##LDA

In [62]:
lda=LinearDiscriminantAnalysis()

In [63]:
lda.fit(x_train_std,y_train)
y_train_pred=lda.predict(x_train_std)
y_test_pred=lda.predict(test_std)

In [64]:
print(accuracy_score(y_train,y_train_pred))

0.859504132231405

In [65]:
submit['target']=y_test_pred
submit.to_csv("submit.csv",mode='w',index_label=None)
!kaggle competitions submit -c 2020ml5re -f submit.csv -m 'LDA std'

100% 356/356 [00:08<00:00, 44.0B/s]
Successfully submitted to 2020.ML.중간고사.문제5.다시풀기

score=0.86885

##QDA

In [66]:
qda=QuadraticDiscriminantAnalysis()

In [67]:
qda.fit(x_train_std,y_train)
y_train_pred=qda.predict(x_train_std)
y_test_pred=qda.predict(test_std)

In [68]:
print(accuracy_score(y_train,y_train_pred))

0.859504132231405

In [69]:
submit['target']=y_test_pred
submit.to_csv("submit.csv",mode='w',index_label=None)
!kaggle competitions submit -c 2020ml5re -f submit.csv -m 'QDA std'

100% 356/356 [00:08<00:00, 44.0B/s]
Successfully submitted to 2020.ML.중간고사.문제5.다시풀기

score=0.83606

##Decision Tree

In [70]:
dt=DecisionTreeClassifier()

In [71]:
dt.fit(x_train_std,y_train)
y_train_pred=dt.predict(x_train_std)
y_test_pred=dt.predict(test_std)

In [72]:
print(accuracy_score(y_train,y_train_pred))

1.0

In [73]:
submit['target']=y_test_pred
submit.to_csv("submit.csv",mode='w',index_label=None)
!kaggle competitions submit -c 2020ml5re -f submit.csv -m 'Decision Tree std'

100% 356/356 [00:07<00:00, 44.8B/s]
Successfully submitted to 2020.ML.중간고사.문제5.다시풀기

score=0.83606

#파라미터를 변경하며 실험

##Logistic Regression

In [153]:
lg=LogisticRegression(random_state=11, C=100)

In [154]:
lg.fit(x_train_std,y_train)
y_train_pred=lg.predict(x_train_std)
y_test_pred=lg.predict(test_std)

In [155]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_train,y_train_pred))

0.8636363636363636

In [157]:
submit['target']=y_test_pred
submit.to_csv("submit.csv",mode='w',index_label=None)
!kaggle competitions submit -c 2020ml5re -f submit.csv -m 'Logistic Regression c=100 std'

100% 356/356 [00:04<00:00, 75.8B/s]
Successfully submitted to 2020.ML.중간고사.문제5.다시풀기

c=100 score=0.86885/
c=1000 score=0.86885/
c=10 score=0.86885/
c=10 std score=0.85245/
c=100 std score=0.85245

##KNN

In [187]:
knn=KNeighborsClassifier(weights='distance', n_neighbors=5)

In [188]:
knn.fit(x_train_std,y_train)
y_train_pred=knn.predict(x_train_std)
y_test_pred=knn.predict(test_std)

In [189]:
print(accuracy_score(y_train,y_train_pred))

1.0

In [190]:
submit['target']=y_test_pred
submit.to_csv("submit.csv",mode='w',index_label=None)
!kaggle competitions submit -c 2020ml5re -f submit.csv -m 'KNN std weights=distance n_neighbors=5'

100% 356/356 [00:26<00:00, 13.5B/s]
Successfully submitted to 2020.ML.중간고사.문제5.다시풀기

weights=distance score=0.90163/
weights=distance n_neighbors=10 score=0.90163/
weights=distance n_neighbors=15 score=0.86885/
weights=distance n_neighbors=7 score=0.90163/
weights=distance n_neighbors=5 score=0.85245/

##LDA

In [123]:
lda=LinearDiscriminantAnalysis(store_covariance=True,n_components=10)

In [124]:
lda.fit(x_train,y_train)
y_train_pred=lda.predict(x_train)
y_test_pred=lda.predict(test)

/usr/local/lib/python3.7/dist-packages/sklearn/discriminant_analysis.py:463: ChangedBehaviorWarning: n_components cannot be larger than min(n_features, n_classes - 1). Using min(n_features, n_classes - 1) = min(13, 2 - 1) = 1 components.
  ChangedBehaviorWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/discriminant_analysis.py:469: FutureWarning: In version 0.23, setting n_components > min(n_features, n_classes - 1) will raise a ValueError. You should set n_components to None (default), or a value smaller or equal to min(n_features, n_classes - 1).
  warnings.warn(future_msg, FutureWarning)

In [125]:
print(accuracy_score(y_train,y_train_pred))

0.859504132231405

In [126]:
submit['target']=y_test_pred
submit.to_csv("submit.csv",mode='w',index_label=None)
!kaggle competitions submit -c 2020ml5re -f submit.csv -m 'LDA n_components=10'

100% 356/356 [00:09<00:00, 38.1B/s]
Successfully submitted to 2020.ML.중간고사.문제5.다시풀기

LDA n_components=10 std score=0.86885/
LDA n_components=10 score=0.86885

##Decision Tree

In [148]:
dt=DecisionTreeClassifier(max_depth=4,random_state=1,criterion='entropy', splitter='random')

In [149]:
dt.fit(x_train_std,y_train)
y_train_pred=dt.predict(x_train_std)
y_test_pred=dt.predict(test_std)

In [150]:
print(accuracy_score(y_train,y_train_pred))

0.8429752066115702

In [151]:
submit['target']=y_test_pred
submit.to_csv("submit.csv",mode='w',index_label=None)
!kaggle competitions submit -c 2020ml5re -f submit.csv -m 'Decision Tree std max_depth=4, criterion=entropy, splitter=random'

100% 356/356 [00:08<00:00, 40.8B/s]
Successfully submitted to 2020.ML.중간고사.문제5.다시풀기

max_depth=5 criterion='entropy', splitter='best' score= 0.80327/
max_depth=7 criterion='entropy', splitter='best' score= 0.78688/
max_depth=4 criterion='entropy', splitter='best' score= 0.88524/
max_depth=4 criterion='gini', splitter='best' score= 0.85245/
max_depth=4 criterion='entropy', splitter='random' score= 0.80327/

#추가 전처리

In [218]:
x_train.head()

       age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
index                                ...
0       63    1   3       145   233  ...      0      2.3      0   0     1
1       37    1   2       130   250  ...      0      3.5      0   0     2
2       41    0   1       130   204  ...      0      1.4      2   0     2
3       56    1   1       120   236  ...      0      0.8      2   0     2
4       57    0   0       120   354  ...      1      0.6      2   0     2

[5 rows x 13 columns]

In [219]:
x_train_agerange=x_train
category=pd.cut(x_train['age'],bins=[0,20,30,40,50,60,70,80],labels=[0,1,2,3,4,5,6])
x_train_agerange['age']=category

In [220]:
x_train_agerange.head()

      age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
index                               ...
0       5    1   3       145   233  ...      0      2.3      0   0     1
1       2    1   2       130   250  ...      0      3.5      0   0     2
2       3    0   1       130   204  ...      0      1.4      2   0     2
3       4    1   1       120   236  ...      0      0.8      2   0     2
4       4    0   0       120   354  ...      1      0.6      2   0     2

[5 rows x 13 columns]

In [221]:
test_agerange=test
category=pd.cut(test['age'],bins=[0,20,30,40,50,60,70,80],labels=[0,1,2,3,4,5,6])
test_agerange['age']=category
test_agerange.head()

      age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
index                               ...
5       4    1   0       140   192  ...      0      0.4      1   0     1
7       3    1   1       120   263  ...      0      0.0      2   0     3
9       4    1   2       150   168  ...      0      1.6      2   0     2
17      5    0   3       150   226  ...      0      2.6      0   0     2
24      2    1   3       140   199  ...      1      1.4      2   0     3

[5 rows x 13 columns]

In [241]:
x_train_agerange=x_train_agerange.drop('sex',axis=1)
test_agerange=test_agerange.drop('sex',axis=1)

In [242]:
x_train_agerange.head()

      age  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal
index                               ...
0       5   3       145   233    1  ...      0      2.3      0   0     1
1       2   2       130   250    0  ...      0      3.5      0   0     2
2       3   1       130   204    0  ...      0      1.4      2   0     2
3       4   1       120   236    0  ...      0      0.8      2   0     2
4       4   0       120   354    0  ...      1      0.6      2   0     2

[5 rows x 12 columns]

##Logistic Regression

In [249]:
lg=LogisticRegression(random_state=11)

In [250]:
lg.fit(x_train_agerange,y_train)
y_train_pred=lg.predict(x_train_agerange)
y_test_pred=lg.predict(test_agerange)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [251]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_train,y_train_pred))

0.8512396694214877

In [252]:
submit['target']=y_test_pred
submit.to_csv("submit.csv",mode='w',index_label=None)
!kaggle competitions submit -c 2020ml5re -f submit.csv -m 'Logistic Regression age_range'

100% 356/356 [00:04<00:00, 71.6B/s]
Successfully submitted to 2020.ML.중간고사.문제5.다시풀기

score=0.85245

##KNN

In [246]:
knn=KNeighborsClassifier()

In [247]:
knn.fit(x_train_agerange,y_train)
y_train_pred=knn.predict(x_train_agerange)
y_test_pred=knn.predict(test_agerange)

In [248]:
print(accuracy_score(y_train,y_train_pred))

0.7479338842975206

In [ ]:
submit['target']=y_test_pred
submit.to_csv("submit.csv",mode='w',index_label=None)
!kaggle competitions submit -c 2020ml5re -f submit.csv -m 'KNN std'

100% 356/356 [00:08<00:00, 42.9B/s]
Successfully submitted to 2020.ML.중간고사.문제5.다시풀기

score=0.90163

##LDA

In [ ]:
lda=LinearDiscriminantAnalysis()

In [233]:
lda.fit(x_train_agerange,y_train)
y_train_pred=lda.predict(x_train_agerange)
y_test_pred=lda.predict(test_agerange)

In [234]:
print(accuracy_score(y_train,y_train_pred))

0.8429752066115702

In [235]:
submit['target']=y_test_pred
submit.to_csv("submit.csv",mode='w',index_label=None)
!kaggle competitions submit -c 2020ml5re -f submit.csv -m 'LDA agerange'

100% 356/356 [00:04<00:00, 75.7B/s]
Successfully submitted to 2020.ML.중간고사.문제5.다시풀기

score=0.86885

##QDA

In [ ]:
qda=QuadraticDiscriminantAnalysis()

In [253]:
qda.fit(x_train_agerange,y_train)
y_train_pred=qda.predict(x_train_agerange)
y_test_pred=qda.predict(test_agerange)

In [254]:
print(accuracy_score(y_train,y_train_pred))

0.8553719008264463

In [ ]:
submit['target']=y_test_pred
submit.to_csv("submit.csv",mode='w',index_label=None)
!kaggle competitions submit -c 2020ml5re -f submit.csv -m 'QDA agerange'

100% 356/356 [00:08<00:00, 44.0B/s]
Successfully submitted to 2020.ML.중간고사.문제5.다시풀기

score=0.83606

##Decision Tree

In [255]:
dt=DecisionTreeClassifier()

In [256]:
dt.fit(x_train_agerange,y_train)
y_train_pred=dt.predict(x_train_agerange)
y_test_pred=dt.predict(test_agerange)

In [257]:
print(accuracy_score(y_train,y_train_pred))

1.0

In [240]:
submit['target']=y_test_pred
submit.to_csv("submit.csv",mode='w',index_label=None)
!kaggle competitions submit -c 2020ml5re -f submit.csv -m 'Decision Tree agerange'

100% 356/356 [00:09<00:00, 36.9B/s]
Successfully submitted to 2020.ML.중간고사.문제5.다시풀기

score=0.80327