<a href="https://colab.research.google.com/github/chae52/MachineLearning/blob/main/%EA%B8%B0%EA%B3%84%ED%95%99%EC%8A%B5_%EC%A4%91%EA%B0%84%EA%B3%A0%EC%82%AC_1%EB%B2%88_%EB%8B%B9%EB%87%A8%EB%B3%91.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install kaggle
from google.colab import files
#kaggle.json 파일 업로드
files.upload()

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.10)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.12.5)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"chae52","key":"7da198707d3eafd371c445d1f050221a"}'}

In [ ]:
#json 파일을 ~/.kaggle로 이동시키기
#mkdir=폴더 만들기
!mkdir -p ~/.kaggle
#cp=copy
!cp kaggle.json ~/.kaggle/

#Permission Warning 이 일어나지 않도록
#chmod:파일을 권한 변경
#600:read/write...
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!ls -lha kaggle.json
!kaggle -v

-rw-r--r-- 1 root root 62 Feb 21 11:22 kaggle.json
Kaggle API 1.5.4

In [ ]:
!pip uninstall -y kaggle
!pip install --upgrade pip
!pip install kaggle==1.5.10

Uninstalling kaggle-1.5.10:
  Successfully uninstalled kaggle-1.5.10
Collecting pip
  Downloading https://files.pythonhosted.org/packages/fe/ef/60d7ba03b5c442309ef42e7d69959f73aacccd0d86008362a681c4698e83/pip-21.0.1-py3-none-any.whl (1.5MB)
     |████████████████████████████████| 1.5MB 9.0MB/s
Installing collected packages: pip
  Found existing installation: pip 19.3.1
    Uninstalling pip-19.3.1:
      Successfully uninstalled pip-19.3.1
Successfully installed pip-21.0.1
Collecting kaggle==1.5.10
  Downloading kaggle-1.5.10.tar.gz (59 kB)
     |████████████████████████████████| 59 kB 4.1 MB/s
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.10) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.10) (2020.12.5)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.10) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.10) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.10) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.10) (4.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.10) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle==1.5.10) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle==1.5.10) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle==1.5.10) (3.0.4)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.10-py3-none-any.whl size=73268 sha256=7f5498f7276608a7d4972db7433cde8455bb784c8b16901487c28fd6115cc1ab
  Stored in directory: /root/.cache/pip/wheels/1c/dd/dd/c493e6f981182c1411e288c553310f76e212bac3afbdac1294
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.5.10

In [ ]:
!kaggle competitions download -c 2020ml1re

Downloading 2020ml1re.zip to /content
  0% 0.00/53.2k [00:00<?, ?B/s]
100% 53.2k/53.2k [00:00<00:00, 30.2MB/s]

In [ ]:
!unzip 2020ml1re

Archive:  2020ml1re.zip
  inflating: sampleSubmission.csv
  inflating: test.csv
  inflating: train.csv

#Data load

In [ ]:
import numpy as np
import torch
import pandas as pd
train=pd.read_csv("train.csv")

In [ ]:
train

     diagnosis  radius_mean  ...  fractal_dimension_worst  Unnamed: 32
0            0        8.734  ...                  0.08865          NaN
1            0       11.360  ...                  0.07745          NaN
2            1       14.950  ...                  0.07147          NaN
3            1       17.350  ...                  0.06515          NaN
4            0       11.060  ...                  0.11680          NaN
..         ...          ...  ...                      ...          ...
393          0       13.850  ...                  0.06912          NaN
394          1       21.370  ...                  0.08666          NaN
395          0       12.470  ...                  0.08750          NaN
396          1       18.220  ...                  0.07987          NaN
397          0       12.720  ...                  0.06922          NaN

[398 rows x 32 columns]

In [ ]:
y_train=train['diagnosis']

In [ ]:
y_train

0      0
1      0
2      1
3      1
4      0
      ..
393    0
394    1
395    0
396    1
397    0
Name: diagnosis, Length: 398, dtype: int64

In [ ]:
x_train=train.drop('diagnosis', axis=1)

In [ ]:
x_train

     radius_mean  texture_mean  ...  fractal_dimension_worst  Unnamed: 32
0          8.734         16.84  ...                  0.08865          NaN
1         11.360         17.57  ...                  0.07745          NaN
2         14.950         17.57  ...                  0.07147          NaN
3         17.350         23.06  ...                  0.06515          NaN
4         11.060         17.12  ...                  0.11680          NaN
..           ...           ...  ...                      ...          ...
393       13.850         15.18  ...                  0.06912          NaN
394       21.370         15.10  ...                  0.08666          NaN
395       12.470         18.60  ...                  0.08750          NaN
396       18.220         18.70  ...                  0.07987          NaN
397       12.720         13.78  ...                  0.06922          NaN

[398 rows x 31 columns]

In [ ]:
x_train.shape

(398, 31)

In [ ]:
x_train=x_train.drop(train.columns[31], axis=1)

In [ ]:
x_train.shape

(398, 30)

In [ ]:
x_train

     radius_mean  texture_mean  ...  symmetry_worst  fractal_dimension_worst
0          8.734         16.84  ...          0.2445                  0.08865
1         11.360         17.57  ...          0.2973                  0.07745
2         14.950         17.57  ...          0.3414                  0.07147
3         17.350         23.06  ...          0.2452                  0.06515
4         11.060         17.12  ...          0.2780                  0.11680
..           ...           ...  ...             ...                      ...
393       13.850         15.18  ...          0.2955                  0.06912
394       21.370         15.10  ...          0.2730                  0.08666
395       12.470         18.60  ...          0.3014                  0.08750
396       18.220         18.70  ...          0.3021                  0.07987
397       12.720         13.78  ...          0.2369                  0.06922

[398 rows x 30 columns]

In [ ]:
test=pd.read_csv("test.csv")

In [ ]:
test

     radius_mean  texture_mean  ...  fractal_dimension_worst  Unnamed: 32
0         11.670         20.02  ...                  0.08950          NaN
1         10.800          9.71  ...                  0.07699          NaN
2         12.450         16.41  ...                  0.10340          NaN
3          9.465         21.01  ...                  0.09211          NaN
4         13.650         13.16  ...                  0.08718          NaN
..           ...           ...  ...                      ...          ...
166       11.600         24.49  ...                  0.06745          NaN
167       14.050         27.15  ...                  0.08321          NaN
168       12.580         18.40  ...                  0.06431          NaN
169       12.560         19.07  ...                  0.07188          NaN
170       16.260         21.88  ...                  0.07953          NaN

[171 rows x 31 columns]

In [ ]:
test.shape

(171, 31)

In [ ]:
test=test.drop(test.columns[30],axis=1)

In [ ]:
test

     radius_mean  texture_mean  ...  symmetry_worst  fractal_dimension_worst
0         11.670         20.02  ...          0.3206                  0.08950
1         10.800          9.71  ...          0.2090                  0.07699
2         12.450         16.41  ...          0.3231                  0.10340
3          9.465         21.01  ...          0.2878                  0.09211
4         13.650         13.16  ...          0.2380                  0.08718
..           ...           ...  ...             ...                      ...
166       11.600         24.49  ...          0.3244                  0.06745
167       14.050         27.15  ...          0.2250                  0.08321
168       12.580         18.40  ...          0.2505                  0.06431
169       12.560         19.07  ...          0.2121                  0.07188
170       16.260         21.88  ...          0.2736                  0.07953

[171 rows x 30 columns]

#raw data

##Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression

lr=LogisticRegression(random_state=11)
lr.fit(x_train,y_train)
y_train_pred=lr.predict(x_train)
y_test_pred=lr.predict(test)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_train,y_train_pred))

0.9522613065326633

In [ ]:
y_test_pred

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0])

In [ ]:
submit=pd.read_csv("sampleSubmission.csv")

In [ ]:
submit

      id  diagnosis
0      0          1
1      1          1
2      2          1
3      3          1
4      4          1
..   ...        ...
166  166          1
167  167          1
168  168          1
169  169          1
170  170          1

[171 rows x 2 columns]

In [ ]:
submit['diagnosis']=y_test_pred

In [ ]:
submit[:10]

   id  diagnosis
0   0          0
1   1          0
2   2          0
3   3          0
4   4          0
5   5          0
6   6          1
7   7          0
8   8          1
9   9          1

In [ ]:
submit.to_csv('submit.csv',mode='w', index=False)
#!kaggle competitions submit -c 2020ml1re -f submit.csv -m "Logistic Regression"

score=0.91228

##KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
y_train_pred=knn.predict(x_train)
y_test_pred=knn.predict(test)
print(accuracy_score(y_train, y_train_pred))

0.9447236180904522

In [ ]:
submit['diagnosis']=y_test_pred
submit.to_csv('submit.csv',mode='w', index=False)
#!kaggle competitions submit -c 2020ml1re -f submit.csv -m "KNN"

score=0.93567

##LDA

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda=LinearDiscriminantAnalysis(store_covariance=True)

In [ ]:
lda.fit(x_train,y_train)
y_train_pred=lda.predict(x_train)
y_test_pred=lda.predict(test)

print(accuracy_score(y_train,y_train_pred))

0.9698492462311558

In [72]:
submit['diagnosis']=y_test_pred
submit.to_csv('submit.csv',mode='w', index=False)
#!kaggle competitions submit -c 2020ml1re -f submit.csv -m "LDA"

score=0.94152

##QDA

In [ ]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
qda=QuadraticDiscriminantAnalysis()
qda.fit(x_train,y_train)

QuadraticDiscriminantAnalysis(priors=None, reg_param=0.0,
                              store_covariance=False, tol=0.0001)

In [ ]:
y_train_pred=qda.predict(x_train)
y_test_pred=qda.predict(test)

print(accuracy_score(y_train,y_train_pred))

0.9798994974874372

In [ ]:
submit['diagnosis']=y_test_pred
submit.to_csv("submit.csv", mode='w', index=False)
#!kaggle competitions submit -c 2020ml1re -f submit.csv -m "QDA"

score=0.94152

##Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier(max_depth=5)
dtc.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
y_train_pred=dtc.predict(x_train)
y_test_pred=dtc.predict(test)

print(accuracy_score(y_train,y_train_pred))

0.992462311557789

In [ ]:
submit['diagnosis']=y_test_pred
submit.to_csv("submit.csv", mode='w',index=False)
#!kaggle competitions submit -c 2020ml1re -f submit.csv -m "Decision Tree max_depth=5"

score=0.95321

#표준화

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [ ]:
sc.fit(x_train)
test_std=sc.transform(test)
x_train_std=sc.transform(x_train)

##Logistic Regression

In [ ]:
lr=LogisticRegression(random_state=11)
lr.fit(x_train_std,y_train)
y_train_pred=lr.predict(x_train_std)
y_test_pred=lr.predict(test_std)

In [ ]:
print(accuracy_score(y_train,y_train_pred))

0.9949748743718593

In [ ]:
submit['diagnosis']=y_test_pred
submit.to_csv("submit.csv", mode='w',index=False)
#!kaggle competitions submit -c 2020ml1re -f submit.csv -m "Logistic Regression std"

score=0.94152

##KNN

In [ ]:
knn=KNeighborsClassifier()
knn.fit(x_train_std,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
y_train_pred=knn.predict(x_train_std)
y_test_pred=knn.predict(test_std)
print(accuracy_score(y_train, y_train_pred))

0.9849246231155779

In [ ]:
submit['diagnosis']=y_test_pred
submit.to_csv('submit.csv',mode='w', index=False)
#!kaggle competitions submit -c 2020ml1re -f submit.csv -m "KNN std"

score=0.92397

##LDA

In [ ]:
lda.fit(x_train_std,y_train)
y_train_pred=lda.predict(x_train_std)
y_test_pred=lda.predict(test_std)

print(accuracy_score(y_train,y_train_pred))

0.9698492462311558

In [ ]:
submit['diagnosis']=y_test_pred
submit.to_csv('submit.csv',mode='w', index=False)
!kaggle competitions submit -c 2020ml1re -f submit.csv -m "LDA std"

100% 929/929 [00:01<00:00, 530B/s]
Successfully submitted to 2020.ML.중간고사.문제1.다시풀기

score=0.94152

##QDA

In [ ]:
qda=QuadraticDiscriminantAnalysis()
qda.fit(x_train_std,y_train)

QuadraticDiscriminantAnalysis(priors=None, reg_param=0.0,
                              store_covariance=False, tol=0.0001)

In [ ]:
y_train_pred=qda.predict(x_train_std)
y_test_pred=qda.predict(test_std)

print(accuracy_score(y_train,y_train_pred))

0.9798994974874372

In [ ]:
submit['diagnosis']=y_test_pred
submit.to_csv("submit.csv", mode='w', index=False)
#!kaggle competitions submit -c 2020ml1re -f submit.csv -m "QDA std"

100% 929/929 [00:02<00:00, 354B/s]
Successfully submitted to 2020.ML.중간고사.문제1.다시풀기

score=0.94152

##Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier(max_depth=5)
dtc.fit(x_train_std,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
y_train_pred=dtc.predict(x_train_std)
y_test_pred=dtc.predict(test_std)

print(accuracy_score(y_train,y_train_pred))

0.992462311557789

In [ ]:
submit['diagnosis']=y_test_pred
submit.to_csv("submit.csv", mode='w',index=False)
#!kaggle competitions submit -c 2020ml1re -f submit.csv -m "Decision Tree max_depth=5 std"

score=0.94152

#파라미터 변경하며 실험

##Logistic Regression

In [ ]:
lr=LogisticRegression(C=1000,random_state=11)
lr.fit(x_train_std,y_train)
y_train_pred=lr.predict(x_train_std)
y_test_pred=lr.predict(test_std)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
print(accuracy_score(y_train,y_train_pred))

1.0

In [ ]:
submit['diagnosis']=y_test_pred
submit.to_csv("submit.csv", mode='w',index=False)
#!kaggle competitions submit -c 2020ml1re -f submit.csv -m "Logistic Regression std c=1000"

c=200 score=0.96491/
c=100 score=0.96491/
c=1000 score=0.97076

##KNN

In [ ]:
knn=KNeighborsClassifier(n_neighbors=20,weights="distance")
#p=2:유클리드거리계산
knn.fit(x_train_std,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=20, p=2,
                     weights='distance')

In [ ]:
print(accuracy_score(y_train,y_train_pred))

1.0

In [ ]:
submit['diagnosis']=y_test_pred
submit.to_csv("submit.csv", mode='w',index=False)
#!kaggle competitions submit -c 2020ml1re -f submit.csv -m "Logistic Regression std n_neighbors=20"

n_neighbors=3,10,20,weights="distance" 설정 모두 score=0.92397

##LDA

In [ ]:
lda=LinearDiscriminantAnalysis(store_covariance=True,n_components=30)

In [ ]:
lda.fit(x_train_std,y_train)
y_train_pred=lda.predict(x_train_std)
y_test_pred=lda.predict(test_std)

print(accuracy_score(y_train,y_train_pred))

0.9698492462311558

/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:463: ChangedBehaviorWarning: n_components cannot be larger than min(n_features, n_classes - 1). Using min(n_features, n_classes - 1) = min(30, 2 - 1) = 1 components.
  ChangedBehaviorWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:469: FutureWarning: In version 0.23, setting n_components > min(n_features, n_classes - 1) will raise a ValueError. You should set n_components to None (default), or a value smaller or equal to min(n_features, n_classes - 1).
  warnings.warn(future_msg, FutureWarning)

In [ ]:
submit['diagnosis']=y_test_pred
submit.to_csv('submit.csv',mode='w', index=False)
#!kaggle competitions submit -c 2020ml1re -f submit.csv -m "LDA std n_components=30"

n_components=10 score=0.94152/
n_components=5 score=0.94152/
n_components=30 score=0.94152

##Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier(max_depth=5,random_state=1,criterion='entropy', splitter='best')
dtc.fit(x_train_std,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=1, splitter='best')

In [ ]:
y_train_pred=dtc.predict(x_train_std)
y_test_pred=dtc.predict(test_std)

print(accuracy_score(y_train,y_train_pred))

0.992462311557789

In [ ]:
submit['diagnosis']=y_test_pred
submit.to_csv("submit.csv", mode='w',index=False)
#!kaggle competitions submit -c 2020ml1re -f submit.csv -m "Decision Tree max_depth=5 std max_depth=5,random_state=1,criterion='entropy', splitter='best'"

max_depth=5,random_state=1,criterion='gini', splitter='best' score=0.95906/
max_depth=5,random_state=1,criterion='gini', splitter='random' score=0.91228/
max_depth=5,random_state=1,criterion='entropy', splitter='best' score=0.91812